{% extends 'base.html.twig' %}

{% block title %}En savoir plus | laCrèche.org{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<header>
    <nav class="m-5 rounded-full bg-green-300 h-16 flex items-center justify-around">
        <div class="flex items-center gap-1">
            <figure>
                <img src=" {{ asset('images/arbre.png') }}" alt="Logo" class="w-25 h-25 overflow">
            </figure>
            <h2 class="text-grey-300">laCrèche.org</h2>
        </div>
        <button id="burger" class="md:hidden text-3xl cursor-pointer text-green-400" onclick="toggleMenu()">
            &#9776;
        </button>
        <div id="menu" class="gap-5 m-5 md:flex hidden absolute top-20 left-0 w-11/12 h-fit bg-green-300 md:static md:w-auto md:bg-transparent">
            <a class="block p-3 pl-6 pr-6 rounded-sm border-2 border-green-400  text-xs  hover:bg-green-400 hover:text-white ease-in-out duration-150 texte-white" href="/" alt="Accueil">Accueil</a>
            <a class="block p-3 pl-6 pr-6 rounded-sm border-2 border-green-400 text-xs text-white bg-green-400 " href="/learn-more" alt="En savoir plus">En savoir plus</a>
            <a class="block p-3 pl-6 pr-6 rounded-sm border-2 border-green-400 text-xs hover:bg-green-400 hover:text-white ease-in-out duration-150 " href="" alt="Connexion">Connexion</a>
        </div>
    </nav>
</header>

<main>
    
</main>
<footer>
</footer>
{% endblock %}
