{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_title %}Dashboard Admin | LaCrèche.org{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}
    
{% endblock %}